@model string

<div id="vue-app" style="padding-top: 50px;"></div>

@section Styles {
  <link rel="stylesheet" href="/dist/css/App.css">
}

@section Scripts {
  <script>
    var rootVueAppProps = {
      userIsAuthenticated: '@User.Identity.IsAuthenticated.ToString().ToLower()' !== 'false',
      apiProjectUrl: '@Model'
    }
  </script>

  <script src="/dist/js/App.min.js" asp-append-version="true"></script>
}
