@model WebClient.ViewModels.IndexPageViewModel

<div id="vue-app" style="padding-top: 50px;"></div>

@section Styles {
  <link rel="stylesheet" href="/dist/css/App.css">
}

@section Scripts {
  <script>
    var rootVueAppProps = {
      user: {
        email: '@Model.Email',
        userIsAuthenticated: '@Model.UserIsAuthenticated.ToString().ToLower()' !== 'false',
      },
      apiProjectUrl: '@Model.ApiProjectUrl',
    }
  </script>

  <script src="/dist/js/App.min.js" asp-append-version="true"></script>
}
