<div id="vue-app" style="padding-top: 50px;"></div>

@section Styles {
    <link rel="stylesheet" href="/dist/css/App.css">
}

@section Scripts {
    <script src="/dist/js/App.min.js" asp-append-version="true"></script>
}
